# =================================================
# Unreal Engine 5 - GitIgnore (LUMEN PIPELINE)
# =================================================

# Build / Cache (NUNCA versionar)
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Lighting (Lumen = sem bake)
*_BuiltData.uasset

# IDEs / Tools
.vscode/
.idea/
*.suo
*.opensdf
*.sdf
*.VC.db
*.code-workspace

# Logs / Temp
*.log
*.tmp
*.bak
*.dmp

# OS
.DS_Store
Thumbs.db
